:root {
    /*Font*/
    --main-font-family: 'Roboto', sans-serif;
    /*Colors*/
    --main-font-color-light: color: #FFFFFF;
    --main-font-color-darc: color: #000000;
    --current-color: color: #2196F3;
    --main-color: color: #757575;
    --secondary-color: color: #212121;
    --contact-futer-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: var(--main-font-family);
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
};

/*Common styles*/
.link {
    text-decoration:none;
    font-family: inherit;
};
 
.list {
    list-style: none;
};

.section {
    color: var(-main-font-color-light);
};
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--main-font-family);
    color: inherit;
};
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    color: var(--secondary-color);
}
/*Header*/

.header {
    background-color:var(--main-font-color-light);
};

.site-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /*text-decoration: none;*/
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--main-font-color-darc)
};

.logo-web {
    color: var(--current-color);
}

.site-nav{};
.nav-list{
    padding-left: 0;
};
.nav-item{};
.nav-link{};
